@import '../../variables.scss';

.card_container {
   width: 100%;
   margin-bottom: 5px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   height: min-content;
   background-color: white;
   border-radius: 10px;
   box-sizing: border-box;
   overflow: hidden;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 15px;
   padding-bottom: 10px;
}

.SELECT {
   background-color: $SELECT;
}

.PERSONAL {
   background-color: $PERSONAL;
}

.BUSINESS {
   background-color: $BUSINESS;
}

.HEALTH {
   background-color: $HEALTH;
}

.FAMILY {
   background-color: $FAMILY;
}

.SPORT {
   background-color: $SPORT;
}


.card_body {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   width: 100%;
}

.item {
   width: 100%;
   height: 30px;
   margin-bottom: 5px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   border-bottom: 1px solid gray;
}

.item_name {
   width: 35%;
   min-width: 30%;
}

.item_value {
   width: 65%;
}