
$SELECT: white;
$PERSONAL: rgba(146, 255, 148, 0.34);
$BUSINESS: rgba(255, 208, 146, 0.34);
$HEALTH: rgba(146, 239, 255, 0.34);
$FAMILY: rgba(228, 146, 255, 0.34);
$SPORT: rgba(255, 146, 181, 0.34);
